[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore_global
[user]
  email = lehoainham@gmail.com
  name = Nham Le
[github]
  user = nhamlh
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
    prompt = false
[diff]
    tool = vimdiff

